SECRET_KEY = "9kal)6*g8a0uduhh5mm#ndn6d%h^r@@n!@%xb=d8a#i(fkjp6$"
DATABASE_URL = "psql://your_database_user:your_database_password@localhost:5432/your_database_name"
MOVIE_API_USERNAME = MOVIE_API_USERNAME
MOVIE_API_PASSWORD = MOVIE_API_PASSWORD